

<html>
<head>


<script type="application/ld+json"> 
  <%- json_ld %>
</script>

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="<%= render_script %>"></script>





<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"/>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta charset='utf-8'/>
<style>

table.table {
  padding-bottom: 300px;
}
</style>
</head>


<body>

  <nav class="navbar">

    <ul class="nav navbar-nav" >
        <li ><a href="#"><span class="glyphicon glyphicon-home dataset_name">&nbsp;<%- dataset_name  %></span></a></li>
    </ul>

  </nav>
<div class="container">
<div class="jumbotron">
<h4 class="citation"><%- citation %></h3>
<h3 class="item_name"><%- item_name %></h4>


<a href="./ro-crate-metadata.jsonld">⬇️🏷️ Download all the metadata for <span class='name'><%- dataset_name %></span> in JSON-LD format</a>
<div class="check"></div>
</div>



<div id="summary">

<!-- Start Ben Edits - Leaflet -->
<% if (places) { %>
  <link rel='stylesheet' href='../../css/leaflet.css'/>
  <script src='../../js/leaflet.js'></script>
  <script src='../../js/BenSliderControl.js'></script>
  <link rel='stylesheet' href='../../css/jquery-ui.css'/>
  <script src='../../js/jquery-ui.js'></script>
  <link rel='stylesheet' href='../../css/benmap.css'/>

  <link rel='stylesheet' href='../../css/MarkerCluster.css'/>
  <link rel='stylesheet' href='../../css/MarkerCluster.Default.css'/>
  <script src='../../js/leaflet.markercluster.js'></script>

  <div id='mapdiv' style='height: 420px;'></div>
  <script src='../../js/mapmaker.js'></script><!-- Handles a lot of the marker stuff -->
  <script>mapinit(<%- JSON.stringify(places) %>)</script>
<% } %>
<!-- End Ben Edits - Leaflet -->

<%- html %>
</div>


<p>This file was created at <%- time_stamp %> by
<a href='https://code.research.uts.edu.au/eresearch/calcytejs'>
Calcyte</a> which implements the <a href='<%- spec_id %>'>
Draft RO-Crate format</a>, version <%- ROCrate_version %>
 </p>


</body>
</html>
